<section id="contact" class="contact-section">

    <h2 class="section-title">Contact Me</h2>

    <div class="contact-container">

        <div class="contact-text">
            <p>
                If you have a project in mind, want to know more about my skills,
                or just want to say hi !<br> Please fill in this form.
                I will reply to you shortly.
            </p>
        </div>

        <form [formGroup]="contactForm" class="contact-form" (ngSubmit)="sendEmail()">

            <div class="name-fields">
                <label>
                    <span class="label-text">
                        First Name <span class="required">*</span>
                    </span> <input type="text" formControlName="firstName" placeholder="First Name" />
                </label>
                <label>
                    <span class="label-text">
                        Last Name <span class="required">*</span>
                    </span> <input type="text" formControlName="lastName" placeholder="Last Name" />
                </label>
            </div>

            <label>
                <span class="label-text">
                    Subject <span class="required">*</span>
                </span> <input type="text" formControlName="subject" placeholder="Subject" />
            </label>

            <label>
                <span class="label-text">
                    Email <span class="required">*</span>
                </span> <input type="email" formControlName="email" placeholder="Email" />
            </label>

            <label>
                <span class="label-text">
                    Message <span class="required">*</span>
                </span> <textarea formControlName="message" placeholder="Message" rows="6"></textarea>
            </label>

            <fluent-button appearance="accent" type="submit" [disabled]="isLoading">
                {{ isLoading ? 'Sending...' : 'Send Message' }}
            </fluent-button>

        </form>

        <div class="loading-overlay" *ngIf="isLoading">
            <div class="spinner"></div>
        </div>

    </div>

</section>