<section id="contact-details" class="contact-section">

    <div class="contact-container">

        <h2 class="section-title">Contact Details</h2>

        <div class="contact-grid">

            <div class="contact-card">
                <div class="icon phone">
                    <i class="fas fa-phone"></i>
                </div>
                <p class="contact-text">+216 21 824 361</p>
            </div>

            <div class="contact-card">
                <div class="icon email">
                    <i class="fas fa-envelope"></i>
                </div>
                <p class="contact-text">akrambenaoun1993&#64;gmail.com</p>
            </div>

            <div class="contact-card">
                <div class="icon location">
                    <i class="fas fa-map-marker-alt"></i>
                </div>
                <p class="contact-text">Tunisia</p>
            </div>

            <div class="contact-card">
                <div class="icon linkedin">
                    <i class="fab fa-linkedin"></i>
                </div>

                <a href="https://linkedin.com/in/akram-ben-aoun-638b77194" target="_blank" rel="noopener noreferrer"
                    class="contact-link">
                    Akram Benaoun
                </a>

            </div>

        </div>

    </div>

</section>