<section class="resume-temp-section">

    <div class="resume-container">

        <img src="assets/roadblock.svg" alt="Coming Soon" class="construction-icon" />
        <h1 class="title">Coming Soon</h1>

        <p class="description">
            This resume section is currently under development and will be available
            shortly. You can download my resume as a PDF file by clicking on the
            button below. Thank you for your patience.
        </p>

        <div class="buttons">
            <button class="btn back-btn" (click)="goBack()">Go Back</button>
            <a class="btn download-btn" href="assets/Akram_Benaoun_CV.pdf" download>Download my CV</a>
        </div>
    </div>

</section>